.projectDetails {
    height: 100%;
    user-select: none;
}

.star {
    cursor: pointer;
    margin-left: 5px;
    transition: 0.3s ease-in-out;
}
.star:hover {
    transform: translateY(-1px);
}
.projectDetails__fillStar {
    color: var(--yellow);
}

.projectDetails__rightSection {
    display: flex;
    align-items: center;
}

/* projectDetails Members */
.projectDetails__members {
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.projectDetails__memberCard {
    border-radius: 50%;
    border: var(--border-dark);
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.projectDetails__memberCard--dashed {
    cursor: pointer;
    border-radius: 50%;
    border: var(--border-dashed);
    width: 35px;
    height: 35px;
    margin-right: 10px;
    transition: .3s ease-in-out;
}
.projectDetails__memberCard--dashed:hover {
    background: var(--bg-secondary);
}

.projectDetails__memberIcon {
    width: 40px;
    height: 40px;
}
.projectDetails__memberIcon--new {
    font-size: 14px;
    color: var(--text-primary);
}

.projectDetails__main {
    height: calc(100% - 105px);
    padding: 24px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
