.projectDetails {
    height: 100%;
    user-select: none;
}
.projectDetails__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
    height: 50px;
    background: #fff;
    border-bottom: var(--border);
}
.projectDetails__heading {
    color: var(--text-primary);
    display: flex;
    align-items: center;
}
.projectDetails__mainHeading {
    text-decoration: none;
}
.projectDetails__mainHeading h1 {
    color: var(--color-primary);
}

.projectDetails__subHeading,
.projectDetails__symbol {
    color: var(--text-primary);
    display: flex;
    margin-left: 5px;
}
.projectDetails__symbol {
    font-size: 20px;
}

.star {
    cursor: pointer;
    margin-left: 5px;
    transition: 0.3s ease-in-out;
}
.star:hover {
    transform: translateY(-1px);
}
.projectDetails__fillStar {
    color: var(--yellow);
}

.projectDetails__rightSection {
    display: flex;
    align-items: center;
}

/* projectDetails Members */
.projectDetails__members {
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.projectDetails__memberCard {
    border-radius: 50%;
    border: var(--border-dark);
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.projectDetails__memberCard--dashed {
    border-radius: 50%;
    border: var(--border-dashed);
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.projectDetails__memberIcon {
    font-size: 14px;
}

.projectDetails__main {
    height: calc(100% - 105px);
    padding: 24px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
