.header {
    background: var(--bg-primary);
    border-bottom: var(--border);
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: var(--nav-size);
    padding: 10px 24px;
}
.header__search {
    display: flex;
    height: 100%;
    width: 80%;
}
.header__searchIcon {
    font-size: 18px;
    height: 100%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    color: var(--text-secondary);
}
.header__search input {
    font-size: 14px;
    color: var(--text-secondary);
    height: 100%;
    display: flex;
    align-items: center;
}

.header__user {
    display: flex;
    align-items: center;
    user-select: none;
}
.header__userDetails {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.header__userName {
    font-size: 15px;
    color: var(--text-primary);
    font-family: poppins-bold;
    text-align: right;
}
.header__userEmail {
    font-size: 12px;
    color: var(--text-tertiary);
    text-align: right;
}

.header__userCard {
    position: relative;
    border-radius: 50%;
    border: var(--border);
    width: 35px;
    height: 35px;
}
.header__userIcon {
    width: 40px;
    height: 40px;
}
.header__icon{
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
    transition: background .3s ease-in-out;

}
.header__icon:hover{
   background: var(--bg-secondary);
   border:var(--border);

}
