.list__item{
    display: flex;
    flex-direction: column;
}
.list__user {
    display: flex;
    align-items: center;
    user-select: none;
    margin-bottom: 20px;
}
.list__userDetails {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.list__userName {
    font-size: 15px;
    color: var(--text-primary);
    font-family: poppins-bold;
    /* text-align: right; */
}
.list__userEmail {
    font-size: 12px;
    color: var(--text-tertiary);
    /* text-align: right; */
}

.list__userCard {
    background: red;
    border-radius: 50%;
    border: var(--border);
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.list__userIcon {
    width: 40px;
    height: 40px;
}