@font-face {
  font-family: Mulish;
  src: url(fonts/Mulish-Regular.ttf);
}
@font-face {
  font-family: Mulish-medium;
  src: url(fonts/Mulish-Medium.ttf);
}
@font-face {
  font-family: Mulish-black;
  src: url(fonts/Mulish-Black.ttf);
}
:root {
  --color-primary: #5863f8;
  /* --color-secondary: #151b26; */
  --color-secondary: #121212;
  --text-primary: #151b26;
  --nav-size: 240px;
  --border: 1px solid gainsboro;
  --border-radius: 3px;
  --speed: 500ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

/* width */

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */

::-webkit-scrollbar-thumb {
  width: 10px;
  background: #a6acb4;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
