.sidenav {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--nav-size);
    background: var(--bg-primary);
    user-select: none;
    box-shadow: var(--box-shadow);
}

.sidenav__routes {
    border-bottom: var(--border);
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.sidenav__items {
    height: calc(100% - 200px);
    overflow-x: hidden;
    overflow-y: overlay;
}

.sidenav__itemContents {
    display: flex;
    flex-direction: column;
}
.sidenav__itemContent {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 24px 0 32px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.is-active-sidenavItem {
    background: var(--bg-secondary);
}

.is-active-sidenavItem .sidenav__itemContentName {
    color: var(--color-primary);
    font-family: poppins-bold;
}

.sidenav__itemContent:hover:not(.is-active-sidenavItem) {
    background: var(--bg-secondary);
}

.sidenav__itemContentName {
    color: var(--text-primary);
    font-size: 13px;
    padding: 8px 0;
}

.sidenav__itemButtonIcon {
    color: var(--text-secondary);
    transition: 0.5s;
}

.sidenav__itemButton {
    padding: 0 24px;
    background: transparent;
    margin-top: 8px;
    cursor: pointer;
    display: flex;
    height: 40px;
    padding: 0 24px 0 24px;
    width: 100%;
    align-items: center;
}
.sidenav__itemButtonIcon {
    font-size: 18px;
}

.sidenav__itemButtonName {
    margin-left: 4px;
    font-size: 13px;
    color: var(--text-secondary);
    font-family: poppins-bold;
    transition: 0.5s;
}

.sidenav__itemButton:hover .sidenav__itemButtonName,
.sidenav__itemButton:hover .sidenav__itemButtonIcon {
    color: var(--color-primary);
}
