.accordionV2 {
    padding: 8px 0;
    width: 100%;
}

.accordionV2__header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 0 12px 0 12px;
    width: 100%;
    align-items: center;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.05);
    margin-bottom: 3px;
}
.accordionV2__header > div {
    display: flex;
}

.accordionV2__title,
.accordionV2__headerIcon,
.accordionV2__titleValue {
    font-size: 13px;
    color: #6f7782;
    font-family: poppins-bold;
    transition: 0.3s;
}
.accordionV2__titleValue {
    margin-left: 5px;
}

.accordionV2__content{
    overflow: hidden;
}
