.project {
    height: 100%;
    user-select: none;
}
.project__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
    height: 50px;
    background: #fff;
    border-bottom: var(--border);
}
.project__heading {
    color: var(--text-primary);
    display: flex;
}

.project__main {
    height: calc(100% - 105px);
    padding: 24px;
    width: 100%;
    display: grid;
    grid-template-columns: 65% calc(35% - 24px);
    grid-gap: 24px;
}
.project__task {
    height: 100%;
}
.project__taskContainer {
    position: relative;
    padding: 10px;
    margin-top: 10px;
    height: calc(100% - 30px);
    border-radius: 3px;
    background: #fff;
    box-shadow: var(--box-shadow);
}
.project__taskStatus {
    height: 100%;
}
.project__taskStatusContainer {
    height: calc(100% - 20px);
    overflow: auto;
}

/* Project's Tasks */
.taskStatus {
    position: relative;
    background: #fff;
    border: 1px solid gainsboro;
    overflow: auto;
    height: 100px;
}
.taskStatus__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 12px;
    border-bottom: 1px solid rgb(238, 238, 238);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.taskStatus__content:hover {
    background: #eee;
}

.taskStatus__title {
    color: var(--text-primary);
    font-size: 13px;
    padding: 10px 0;
}
.taskStatus__user {
    color: var(--text-primary);
    font-size: 13px;
    padding: 10px 0;
}
