.home {
    height: 100%;
}
.home__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
    height: 50px;
    background: #fff;
    border-bottom: var(--border);
}
.home__heading {
    color: var(--text-primary);
    display: flex;
}

.home__main {
    width: 100%;
    height: calc(100% - 105px);
    padding: 24px;
    background: var(--bg-primary);
}
.home__greeting {
    display: flex;
    align-items: center;
}
.home__greetingText {
    font-size: 30px;
    color: var(--text-secondary);
    font-family: poppins-bold;
}
.home__greetingUser {
    font-size: 30px;
    color: var(--text-primary);
    font-family: poppins-bold;
}
