/* My Tasks */
.myTasks {
    --cols: 3;
    --grid-gap: 10px;
    --task-column: 200px;
    height: 100%;
    user-select: none;
}
.myTasks__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
    height: 50px;
    background: #fff;
    border-bottom: var(--border);
}
.myTasks__heading {
    color: var(--text-primary);
    display: flex;
    align-items: center;
}

.myTasks__subHeading,
.myTasks__symbol {
    color: var(--text-primary);
    display: flex;
    margin-left: 5px;
}
.myTasks__symbol {
    font-size: 20px;
}

.myTasks__dropdown select {
    border: 1px solid gainsboro;
    display: flex;
    align-items: center;
    background: transparent;
    padding: 0px 10px;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    transition: 0.3s ease-in-out;
}

.myTasks__main {
    width: 100%;
    height: calc(100% - 105px);
    display: grid;
    grid-template-columns: 50% calc(50% - 24px);
    grid-gap: 24px;
}
.myTasks__list {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--bg-primary);
    box-shadow: var(--box-shadow);
    z-index: 10;
}
.myTasks__summary {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--bg-primary);
    box-shadow: var(--box-shadow);
}
.summary {
    height: 100%;
    position: relative;
}
.summary__heading {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    border-bottom: var(--border);
}
.summary__main {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    padding: 24px;
}
.summary__details {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.summary__details div {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}
.summary__details label {
    font-size: 12px;
    color: var(--text-secondary);
    margin-bottom: 5px;
}
.summary__details p {
    font-size: 13px;
    color: var(--text-primary);
    font-family: poppins-medium;
}

.summary__AdditionalDetails {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.summary__AdditionalDetails div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: var(--border-dark);
    padding: 10px;
}
.summary__AdditionalDetails div:last-child {
    border: none;
}
.summary__AdditionalDetails label {
    font-size: 12px;
    color: var(--text-secondary);
    margin-bottom: 5px;
}
.summary__AdditionalDetails p {
    font-size: 13px;
    color: var(--text-primary);
    font-family: poppins-medium;
}

/* Due Tasks */
.dueTasks__dueWhen {
    margin-bottom: 40px;
}
.dueTasks__columnHeadingContainer {
    display: grid;
    grid-template-columns: var(--task-column) repeat(
            var(--cols),
            calc((100% - (var(--task-column) + (var(--cols) * var(--grid-gap)))) / var(--cols))
        );
    grid-gap: var(--grid-gap);
    min-height: 40px;
    padding: 0 10px;
}

.dueTasks__columnHeading {
    font-size: 12px;
    display: flex;
    align-items: center;
    color: rgb(170, 170, 170);
    font-family: poppins;
    font-weight: 500;
}
.dueWhen {
    font-size: 16px;
    color: gray;
    font-family: poppins;
    font-weight: 500;
}

.dueTasks__Row {
    height: calc(100% - 50px);
}

/* Task */
.task {
    display: grid;
    grid-template-columns: var(--task-column) repeat(
            var(--cols),
            calc((100% - (var(--task-column) + (var(--cols) * var(--grid-gap)))) / var(--cols))
        );
    grid-gap: var(--grid-gap);
    border-bottom: 1px solid gainsboro;
    padding: 0 10px;
    cursor: pointer;
    user-select: none;
    transition: transform 0.3s ease-in-out;
}
.task:first-child {
    border-top: 1px solid gainsboro;
}
.task:hover {
    background: rgb(251, 253, 255);
    transform: scale(1.03);
}
.task__item {
    width: 100%;
    padding: 12px 0px;
    display: flex;
    align-items: center;
}

.task__itemValue,
.task__itemSubtitle {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: var(--text-secondary);
    color: #666;
    font-family: poppins-medium;
}
.task__itemValue {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
}
.task__itemSubtitle {
    margin-right: 8px;
}
.task__itemIcon {
    font-size: 14px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    stroke-width: 4;
}
.fi-check-circle {
    color: var(--green) !important;
}
.fi-circle {
    color: var(--color-primary) !important;
}
.fa-circle {
    font-size: 10px;
}
