.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--bg-secondary);
}
.app__heading {
  color: var(--text-primary);
  font-size: 20px;
}
.app__main {
  height: 100%;
  margin-left: var(--nav-size);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
