@import "./../../../node_modules/react-big-calendar//lib/css/react-big-calendar.css";
/* @import "../../../node_modules/react-big-calendar/lib/addons/dragAndDrop/styles.scss"; */

.calender {
    height: 100%;
}

.calender__main {
    width: 100%;
    height: calc(100% - 105px);
    padding: 24px;
    background: var(--bg-primary);
}
