.sidenav__itemContentIcon {
    font-size: 15px;
    color:var(--text-primary);
    transition: 0.5s;
    display: flex;
    align-items: center;
}
.sidenav__itemContentIcon:hover {
    color: var(--color-primary);
}
