.sidenavRoute {
    text-decoration: none;
    width: calc(100% - 24px);
    cursor: pointer;
    display: flex;
    height: 40px;
    padding: 0 24px;
    align-items: center;
    transition: 0.5s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sidenavRoute:hover:not(.is-active-sidenavRoute) {
    background: var(--bg-secondary);
}

.is-active-sidenavRoute {
    background: var(--bg-secondary);
}
.is-active-sidenavRoute .sidenavRoute__icon,
.is-active-sidenavRoute .sidenavRoute__name {
    color: var(--color-primary);
}

.sidenavRoute__icon {
    font-size: 18px;
    color: var(--text-secondary);
    height: 100%;
    margin-right: 12px;
    display: flex;
    align-items: center;
}
.sidenavRoute__name {
    font-size: 13px;
    color: var(--text-secondary);
    height: 100%;
    display: flex;
    align-items: center;
    font-family: poppins-bold;
}
