.dropdown {
    position: absolute;
    left: calc(100% - 40px);
    max-width: 500px;
    min-width: 230px;
    background: var(--bg-primary);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: var(--box-shadow);
    border: var(--border);
    z-index: 10000;
    transform-origin: top left;
}

.dropdown > p {
    border-bottom: var(--border);
    font-size: 13px;
    width: 100%;
    padding: 0 8px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--text-secondary);
    transition: 0.3s ease-in-out;
    font-family: open-sans-bold;
}
.dropdown > p:last-child{
    border: none;
}
.dropdown > p:hover {
    background: var(--bg-secondary);
    color: var(--text-primary);
}
