.team {
    height: 100%;
}
.team__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
    height: 50px;
    background: #fff;
    border-bottom: var(--border);
}
.team__heading {
    color: var(--text-primary);
    display: flex;
}

.team__main {
    padding: 0px 24px;
    width: 100%;
    height: calc(100% - 90px);
    margin: 20px auto;
    display: grid;
    grid-template-columns: 65% calc(35% - 24px);
    grid-gap: 24px;
}
.team__projects {
    height: 100%;
    padding: 0 24px;
    padding-left: 0px;
    padding-right: 0px;
}
.team__projects .team__content {
    padding-top: 24px;
    height: calc(100% - 75px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: auto;
    grid-gap: 24px;
    padding-right: 2px;
    padding-left: 2px;
}
.team__project {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;
    background: var(--bg-primary);
    box-shadow: var(--box-shadow);
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

/* Project Header */
.team__projectHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}
.team__projectCard {
    padding: 10px;
    height: 100%;
    background: var(--color-primary);
    border-radius: 3px;
}
.team__projectIcon {
    font-size: 20px !important;
    height: 100%;
    color: #fff !important;
}
.project__dueTime {
    background: rgb(226, 226, 255);
    padding: 0px 8px;
    display: flex;
    align-items: center;
    height: 20px;
    border-radius: 2px;
    font-size: 10px;
    color:var(--color-primary);
}
.project__dueTime > span {
    margin-left: 5px;
    font-family: poppins-bold;
}

/* Project Details */
.team__projectDetails {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.team__projectDetails > p {
    margin: 10px 0;
    font-size: 13px;
    color: var(--text-secondary);
}
.team__projectName {
    color: var(--text-primary) !important;
    font-size: 14px !important;
    font-family: poppins-bold;
}
.team__projectDetails > p > span {
    margin: 5px 0;
    color: var(--text-primary);
    font-weight: bold;
    font-size: 20px;
}

.team__projectProgress {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.team__projectProgressDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.team__projectProgressDetails > label {
    font-size: 13px;
    color: var(--text-primary);
}
.team__projectProgressbar {
    position: relative;
    height: 5px;
    width: 100%;
    background: #eee;
    margin: 10px 0;
    border-radius: 5px;
}
.team__projectProgressbarFill {
    position: absolute;
    height: 100%;
    width: 67%;
    background: var(--color-primary);
    border-radius: 5px;
}

/* Project Footer */
.team__projectFooter {
    width: 100%;
    height: 50px;
    display: flex;
}
.team__projectFooterCard {
    border-radius: 50%;
    border: var(--border-dark);
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.team__projectFooterCard--dashed {
    border-radius: 50%;
    border: var(--border-dashed);
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.team__projectFooterUserIcon {
    font-size: 14px;
}

.team__members,
.team__head {
    height: 100%;
    padding: 0 24px;
    padding-left: 0px;
    padding-right: 0px;
}
.team__head {
    height: auto;
}
.team__head .team__content {
    height: calc(100% - 15px);
    padding-top: 24px;
    /* padding-right: 24px; */
    padding-right: 2px;
    padding-left: 2px;
}

.team__members .team__content {
    height: calc(100% - 15px);
    padding-top: 24px;
    overflow: auto;
    padding-right: 2px;
    padding-left: 2px;
}
.team__member {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    cursor: pointer;
    padding: 12px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.05);
    background: #fff;
    border-radius: 8px;
    user-select: none;
    transition: 0.3s ease-in-out;
}
.team__member:hover {
    background: rgb(251, 253, 255);
    transform: translateY(-1px);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.1);
}
.team__memberCard {
    border-radius: 50%;
    background: #fff;
    border: 1px solid gainsboro;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.team__memberDetails {
    display: flex;
    flex-direction: column;
}
.team__memberName {
    font-size: 15px;
    color: var(--text-primary);
    margin-bottom: 1px;
}
.team__memberEmail {
    font-size: 13px;
    color: #888;
}
